* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  color: #333333;
  font-family: 'PingFang SC';
  /* background-color: #e9f2ff; */
  background: linear-gradient(90deg,#e9f0ff, #edffff);
  font-size: 12px;
}
.father-card{
  background: linear-gradient(90deg, #f8faff, #f7ffff);
}
.el-tabs__item {
  font-size: 18px;
  font-weight: 900;
  color: #333333;
  font-family: 'PingFang SC';
}

.el-table {
  width: 100%;
  font-size: 12px;
  color: #333333;
  font-family: 'PingFang SC';
}
.cell {
  padding: 0 !important;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
  color: #333333;
  font-family: 'PingFang SC';
}
.el-dialog {
  margin-bottom: 10px;
}
.el-dialog__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 标题底部加上分割线 */
.el-dialog__header {
  border-bottom: 1px solid #DCDFE6;
}
.el-dialog__body {
  padding: 20px 0;
  font-size: 12px;
}
.el-dialog__footer {
  padding: 0px 20px 20px;
}
.el-dialog__title {
  font-size: 16px;
}
.el-card {
  /* border-radius: 0px; */
  padding: 0;
  margin-bottom: 10px;
  /* height: calc(100vw - 400px); */
  /* background-color: #f8faff; */
  /* background: linear-gradient(90deg,#f8faff, #f7ffff); */
}
.el-card__header {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-family: 'PingFang SC';
}
.el-input__inner {
  min-height: 32px !important;
  font-size: 12px;
}
/* 输入框placeholder */
.el-input input::-webkit-input-placeholder {
  font-size: 12px;
}
/* 步骤条 */
.theSteps .el-step__title {
  font-size: 14px;
}
.warning-row {
  background: #fff !important;
}

.success-row {
  background: #f1f3f4 !important;
}
.el-button {
  box-sizing: border-box;
  padding: 0 15px;
  height: 32px;
  border-radius: none;
  font-family: 'PingFang SC';
}
.el-button span {
  font-size: 12px;
  font-family: 'PingFang SC';
}
/* 面包屑导航 */
.navbar .no-redirect {
  color:#000 !important;
  font-size: 16px;
  font-family: 'PingFang SC';
  font-weight: bold;
}

.start{
  color:#409eff; 
}
 .stop{
  color:#EA1B29;
}
/* form字体改细 */
.el-form-item__label {
  white-space: nowrap;
  /* font-weight: normal; */
  color: #333333;
  font-size: 12px;
  width: 150px !important;
}
/* 单选框 */
.el-radio__label {
  padding-left:2px;
  font-size: 12px;
}
/* 复选框 */
.el-checkbox__label{
  font-size: 12px;
}
/* 上传文件框字体 */
.el-upload-dragger .el-upload__text {
  font-size: 12px;
}
/* Slider滑块 */
.el-slider__marks-text{
  font-size: 12px;
}
/* popper弹出框 */
.el-popper{
  font-size: 12px;
  z-index: 9999 !important;
}
.el-input-number.is-without-controls .el-input__inner {
  font-size: 12px;
}

/* 下拉框 */
.el-select-dropdown__item {
  font-size: 12px;
}
/* 下拉框无数据 */
.el-select-dropdown__empty {
  font-size: 12px;
}
/* 多联下拉框 */
.el-cascader-node__label {
  font-size: 12px;
}
/* tab带边框 */
.el-radio-button--medium .el-radio-button__inner {
  font-size: 12px;
}
/* 暂无数据框 */
.el-empty__description p {
  font-size: 12px;
}
/* 火狐：清除number输入框后的自加自减符号 */
input{
  -moz-appearance:textfield;
}
/* 谷歌：清除number输入框后的自加自减符号 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
/* 排名框 */
.rank-box {
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  border-radius: 2px;
}
/* 排名颜色 */
.rank-redBox1 {
  background: #f54644;
}
.rank-redBox2 {
  background: #fe8547;
}
.rank-redBox3 {
  background: #ffac39;
}
.rank-blueBox {
  background: #8eb9f5;
}
/* 分页组件 */
/* .el-pagination__total{
  font-size: 12px !important;
}
.el-pagination__jump {
  font-size: 12px !important;
}
.el-pagination .el-select .el-input .el-input__inner {
  font-size: 12px;
} */

/* 提示窗样式修改 */
  /* .el-popover {
    padding:10px;
    background-color: #000;
    color: #fff;
    font-size:13px;
     opacity:0.7; 
  }
  .el-popover[x-placement^=right] .popper__arrow::after{
    border-right-color: #000;
  }
 .el-tooltip__popper{ 
    max-width:40%;
    opacity:0.8; 
  }
  .el-tooltip__popper[x-placement^="top"] .popper__arrow:after {
    opacity:0.8; 
  } */